{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    .col-sm-2{
        min-width: 200px;
    }
    .align-items-center{
        max-width: 1250px;
    }
</style>
{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 75px">
        <div class="card border-dark m-auto" style="width: fit-content;">

            <div class="card-body text-dark">
                <div class="card-title"><h2 class="d-inline-block">{{ titulo }}</h2> <div class="d-inline-block" style="font-size: 1.5rem"></div></div>
                {{ form(form) }}
            </div>
            {{ include('includes/alertsADD.html.twig') }}
        </div>
        {{ include('animal/lista.html.twig') }}
        {% block lista %}{% endblock %}
    </div>

{% endblock %}
