{% extends 'base.html.twig' %}

 {% block stylesheets %}
    <style>
        .col-sm-2{
            min-width: 200px;
        }
        .align-items-center{
            max-width: 1026px;
        }
    </style>
 {% endblock %}

{% block body %}
<h1>{{ titulo }}</h1>
    <div class="card border-dark" style="width: fit-content">
        <div class="card-body text-dark">
       {{ form(form) }}
        </div>
        {% for msg in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible d-flex mx-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    {{ msg }}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {% for msg in app.flashes('erro') %}
            <div class="alert alert-danger alert-dismissible d-flex mx-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    {{ msg }}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

    </div>



    <script>

        const elemento = document.getElementById('animal_nascimento')

        elemento.flatpickr({
            enableTime: false,
            altInput: true,
            dateFormat: "Y-m-d",
            altFormat: "d/m/Y",
            locale: "pt",
            theme: "dark",
            maxDate: new Date()
        })

    </script>

{% endblock %}